.sensor-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.sensor-card {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  width: 20rem;
  text-align: left;

  .list-item {
    display: grid;
    grid-template-columns: 50% auto;
  }
}

h2 {
  margin: 0;
}